{% extends 'base.html' %}

{% block content %}
<a href="/">Back to simulation page</a>
    {% csrf_token %}
    {% for plot in plots %}
        <div class="container">
            <div class="first">
                <img src="{{ plot.image.url }}">
            </div>
            <div class="second">
                <p>x frequency: {{ plot.x_frequency }}</p>
                <p>y frequency: {{ plot.y_frequency }}</p>
                <p>phase: {{ plot.phase }}</p>
                <p>simulation time: {{ plot.simulation_time }}</p>
                <span class="vote" id="{{ plot.id }}"</span>
            </div>
            <div class="clear"></div>
        </div>
        <br>
    {% endfor %}
{% endblock %}
