{% extends 'base.html' %}

{% block content %}

    <a href="/recent/">Recent plots</a>
    <div>
      <canvas id="myChart"> </canvas>
    </div>
    <div>
        <form data-url="{% url 'simulation_url' %}" method="post" id="simulateForm">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                            <div class="lable">
                                {{ field.label_tag }}
                            </div>
                            <div class="input">
                                {{ field }}
                            </div>
                        <div id="slider{{ forloop.counter }}" class="slider"></div>
                    </div>
                    <div class="clear"></div>
                    <br>
                {% endfor %}
            <input type="button" value="Simulate" id="simulateButton">
            <input type="button" value="Save" id="saveButton">
        </form>
    </div>
    <div class="clear">
        <br>
        <h2>Top upvoted</h2>
    </div>
    <div>
        {% for plot in top %}
            <div class="container">
            <div class="first">
                <img src="{{ plot.image.url }}">
            </div>
            <div class="second">
                <p>x frequency: {{ plot.x_frequency }}</p>
                <p>y frequency: {{ plot.y_frequency }}</p>
                <p>phase: {{ plot.phase }}</p>
                <p>simulation time: {{ plot.simulation_time }}</p>
                <p id="{{ plot.id }}">
                    Upvotes: {{ plot.upvotes }}
                </p>
                <span class="vote" id="{{ plot.id }}"</span>
            </div>
            <div class="clear"></div>
        </div>
        <br>
        {% endfor %}
    </div>
    {% load static %}
    <script src="{% static 'plot.js' %}"></script>

{% endblock  %}
