{% extends 'base.html' %}

{% block content %}
    <a href="/recent/">Recent plots</a>

    <div class="container">
        <div id="chart-container">
            <canvas id="myChart"> </canvas>
        </div>
        <div>
            <span class="text">Choose your color:</span>
            <input data-jscolor="{value:'#79FF5E'}">
        </div>
    </div>

    <div class= "container">
        <form data-url="{% url 'simulation_url' %}" method="post" id="simulateForm">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                        <div class="lable">
                            {{ field.label_tag }}
                        </div>
                        <div class="input">
                            {{ field }}
                        </div>
                    <div id="slider{{ forloop.counter }}" class="slider"></div>
                </div>
                <div class="clear"></div>
                <br>
            {% endfor %}
            <input type="button" value="Simulate" id="simulateButton">
            <input type="button" value="Save" id="saveButton">
        </form>
    </div>
    <div class="clear"></div>
    <div class= "container">
        <br>
        <h1>Top upvoted</h1>
    </div>
    <div>
        {% for plot in top %}
            <div class="container">
            <div class="first">
                <img src="{{ plot.image.url }}">
            </div>
            <div class="second">
                <p>x frequency: {{ plot.x_frequency }}</p>
                <p>y frequency: {{ plot.y_frequency }}</p>
                <p>phase: {{ plot.phase }}</p>
                <p>simulation time: {{ plot.simulation_time }}</p>
                <p id="{{ plot.id }}">
                    Upvotes: {{ plot.upvotes }}
                </p>
                <span class="vote" id="{{ plot.id }}"</span>
            </div>
            <div class="clear"></div>
        </div>
        <br>
        {% endfor %}
    </div>
    {% load static %}
    <script src="{% static 'plot.js' %}"></script>
    <script src="{% static 'jscolor.js' %}"></script>
    <script>
        jscolor.presets.default = {
            format:'hex', previewSize:56, smartPosition:false, width:180, 
            height:180, shadow:false};
    </script>

{% endblock  %}
