<!doctype html>
{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">

  {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> {% endcomment %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'recent.js' %}"></script>

<title>Lissajous Curves</title>


</head>

<body>
  <div class="chart-container" >
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>